h1{
    margin: 0;
    padding: 3vw;
    width: 100vw;
    background-color: #e75b67;
}
h2{
    border-bottom: solid 3px black;
}

time{
    color: #fff;
    font-size: 70%;
    font-weight: bold;
    background: #5e5e5e;

    border: solid 3px #5e5e5e;
    display: inline-block;
    padding: 2px;
}
